* {
	margin: 0px;
	padding: 0px;
}

.mainContainer {
	background-color: #66aafa;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.title {
	margin-top: 25px;
	text-align: center;
	font-size: 50px;
}

.board {
	background-color: rgba(255, 255, 255, 0.7);
	max-width: 350px;
	padding: 10px;
	border-radius: 8px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.instructions {
	text-align: center;
}

.img {
	width: 95%;
}

.hideWord {
	font-size: 45px;
	text-align: center;
}

.keysSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.key {
	padding: 5px;
	font-weight: bold;
	border-radius: 6px;
	margin: 3px;
	width: 25px;
}

.keyOk {
	padding: 5px;
	font-weight: bold;
	border-radius: 6px;
	margin: 3px;
	border-color: #45de47;
	width: 25px;
}

.keyError {
	padding: 5px;
	font-weight: bold;
	border-radius: 6px;
	margin: 3px;
	border-color: #de454a;
	width: 25px;
}

.btnsPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
	max-width: 350px;
	padding: 10px;
	border-radius: 8px;
	margin-top: 20px;
}

.start {
	margin-top: 15px;
	padding: 5px;
	border-radius: 6px;
	border-color: #45de47;
	font-weight: bold;
}

.end {
	margin-top: 15px;
	padding: 5px;
	border-radius: 6px;
	border-color: #de454a;
	font-weight: bold;
}
