* {
	margin: 0px;
	padding: 0px;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.title {
	margin-top: 25px;
	text-align: center;
	font-size: 50px;
	color: #ffffff;
}

.board {
	max-width: 350px;
	padding: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border-radius: 10px;
}

.instructions {
	text-align: center;
}

.img {
	width: 95%;
}

.hideWord {
	font-size: 45px;
	text-align: center;
}

.keysSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 340px;
}

.key {
	padding: 5px;
	font-weight: bold;
	border-radius: 6px;
	margin: 3px;
	width: 25px;
}

.keyOk {
	padding: 5px;
	font-weight: bold;
	border-radius: 6px;
	margin: 3px;
	border-color: #45de47;
	width: 25px;
}

.keyError {
	padding: 5px;
	font-weight: bold;
	border-radius: 6px;
	margin: 3px;
	border-color: #de454a;
	width: 25px;
}

.btnsPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 350px;
	padding: 10px;
	margin-top: 20px;

	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border-radius: 10px;
}

.start {
	margin: 10px 0px;
	padding: 5px;
	border-radius: 6px;
	border-color: #45de47;
	font-weight: bold;
}

.end {
	margin-top: 10px;
	padding: 5px;
	border-radius: 6px;
	border-color: #de454a;
	font-weight: bold;
}
